.container__slide {
  width: 100%;

  &__image {
    height: 520px;
    position: relative;
    z-index: 1;
    top: -60px;
    overflow: hidden;

    & img {
      object-fit: cover;
      object-position: center center;
      background-position: 100px 50px;
      margin: auto;
      height: 100% !important;
    }
  }

  //   @include mobile {
  //     margin-bottom: 5px;
  //   }

  &__buttons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -350px;
    z-index: 99999;
    margin: 0 30px;

    &:hover {
      //changement de couleur ici
    }
  }

  &__text {
    width: 430px;
    position: absolute;
    bottom: 360px;
    left: 150px;
    z-index: 99999;
    color: white;
    font-size: large;

    & h1 {
      margin-bottom: 30px;
    }

    & p {
      margin-bottom: 50px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: #ecac3e;
    color: #2c3f64;
    font-weight: bold;
  }
}
